{% load static %}
<html>

<head>
	<title>try</title>
</head>

<body>
	{{ user.id|json_script:"user_id" }}
	<h2>As part of delivery services, your location will be monitored at all times you are logged in to the system.</h2>
	<h3> Allow Us to track your location</h3>

	<button id='locate' style="background: blue; color:white; width: 80px; height: 50px; border: dark;"> Track me</button>

	<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-analytics.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-auth.js"></script>
<script src="{% static "js/firebase.js" %}"> </script>
	<script src="{% static "js/trackDel.js" %}">
	</script>
</body>

</html>